<div class="row">
  <h2>Achievements</h2>
  <hr>
  <div class="col-md-12">
    <ul id="achievements_list">
      <li class="newsElement">Ranked 17 globally at the AUVSI-SUAS(Association for Unmanned Vehicle Systems International Student Unmanned Aerial Systems Competition) 2017, for Technical Journal Paper.</li>
      <li class="newsElement">Finalist, Socialis Impremiere, IEEE Ro-Man 2019.</li>
      <li class="newsElement">National Talent Search Examination-I, NCERT India. </li>
    </ul>
  </div>
</div>
