<div class="section-shell row">
  <h2>Selected Publications</h2>
  <hr>
  <div class="col-sm-12">
    <div class="pub-item">
      <div class="meta">Journal article · 2026</div>
      <div><b>Quality of Control-based Control-Communication Co-design for Collaborative Robotics</b><br>
      Neelabhro Roy, Mani H. Dhullipalla, Gourav Prateek Sharma, Sara Sandberg, Dimos V. Dimarogonas, James Gross<br>
      <i>IEEE Transactions on Industrial Informatics</i></div>
    </div>

    <div class="pub-item">
      <div class="meta">Journal article · 2026</div>
      <div><b>ConstrucTwin: Digital Twin-driven Multi-robot Construction System Toward Industry 5.0</b><br>
      Zhihao Liu, Jorge Silva, Ruirui Zhong, Qiang Qin, Neelabhro Roy, Victor Nan Fernandez-Ayala, Johan Lesko, Ulf Håkansson, Sara Sandberg, Dimos V. Dimarogonas, James Gross, Xi Vincent Wang, Lihui Wang<br>
      <i>IEEE Transactions on Systems, Man, and Cybernetics: Systems</i></div>
    </div>

    <div class="pub-item">
      <div class="meta">Conference paper · 2025</div>
      <div><b>Quality of Control Based Resource Dimensioning for Collaborative Edge Robotics</b><br>
      Neelabhro Roy, Mani H. Dhullipalla, Gourav Prateek Sharma, Dimos V. Dimarogonas, James Gross<br>
      <i>IEEE Consumer Communications and Networking Conference (CCNC)</i><br>
      <a target="_blank" href="https://arxiv.org/abs/2411.07405">arXiv</a></div>
    </div>

    <div class="pub-item">
      <div class="meta">Conference paper · 2023</div>
      <div><b>Active Queue Management with Data-Driven Delay Violation Probability Predictors</b><br>
      Seyed Samie Mostafavi, Neelabhro Roy, György Dán, James Gross<br>
      <i>IEEE GLOBECOM 2023</i><br>
      <a target="_blank" href="https://arxiv.org/abs/2311.14982">arXiv</a></div>
    </div>

    <div class="pub-item">
      <div class="meta">Conference paper · 2023</div>
      <div><b>ExPECA: An Experimental Platform for Trustworthy Edge Computing Applications</b><br>
      Samie Mostafavi, Vishnu Narayanan Moothedath, Stefan Rönngren, Neelabhro Roy, Gourav Prateek Sharma, Sangwon Seo, Manuel Olguín Muñoz, James Gross<br>
      <i>IEEE/ACM Symposium on Edge Computing (SEC)</i><br>
      <a target="_blank" href="https://arxiv.org/abs/2311.01279">arXiv</a></div>
    </div>

    <div class="pub-item">
      <div class="meta">Conference paper · 2023</div>
      <div><b>Semantically Optimized End-to-End Learning for Positional Telemetry in Vehicular Scenarios</b><br>
      Neelabhro Roy, Samie Mostafavi, James Gross<br>
      <i>International Conference on Wireless and Mobile Computing, Networking and Communications (WiMob)</i><br>
      <a target="_blank" href="https://arxiv.org/abs/2305.03877">arXiv</a></div>
    </div>

    <div class="pub-item">
      <div class="meta">Workshop paper · 2022</div>
      <div><b>CLEAVE: Scalable and Edge-Native Benchmarking of Networked Control Systems</b><br>
      Manuel Olguín Muñoz, Neelabhro Roy, James Gross<br>
      <i>EdgeSys '22</i><br>
      <a target="_blank" href="https://doi.org/10.1145/3517206.3526272">DOI</a></div>
    </div>

    <div class="pub-item">
      <div class="meta">Conference paper · 2021</div>
      <div><b>ROSNet: A WMN based Framework using UAVs and Ground Nodes for Post-Disaster Management</b><br>
      Neelabhro Roy, Sauranil Debarshi, P. B. Sujit<br>
      <i>IEEE Region 10 Humanitarian Technology Conference (R10-HTC)</i></div>
    </div>

    <div class="pub-item">
      <div class="meta">Conference paper · 2020</div>
      <div><b>UAV-based Person Re-Identification and Dynamic Image Routing using Wireless Mesh Networking</b><br>
      Neelabhro Roy, Sauranil Debarshi<br>
      <i>IEEE International Conference on Signal Processing and Integrated Networks (SPIN)</i></div>
    </div>

    <div class="pub-item">
      <div class="meta">Conference paper · 2019</div>
      <div><b>Experimental Observations on the Feasibility of VLC-Based V2X Communications under various Environmental Deterrents</b><br>
      Khagendra Joshi et al., including Neelabhro Roy<br>
      <i>IEEE ANTS 2019</i></div>
    </div>
  </div>
</div>
